@font-face {
    font-family: 'Digital';
    src: url('../assets/fonts/DS-Digital.woff') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'blush';
    src: url('../assets/fonts/ofont.ru_Spring blush.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
