
.input-group {
  display: flex;
}

.input {
  width: fit-content;
  max-width: 9rem;
}


.input.month {
  min-width: 6rem;
}

.input.day {
  min-width: 3.5rem;
}

.input.year {
  min-width: 7.5rem;
}

.input.hours {
  min-width: 3.5rem;
}

.input.minutes {
  min-width: 4rem;
}

.description {
  font-family: "Digital", sans-serif;
  font-size: 1rem;
}

.input-group.green .input {
  color: darkgreen;
}

.input-group.red .input {
  color: red;
}

.input-group.yellow .input {
  color: darkgoldenrod;
}

.input__wrap {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  background-color: rgba(0,0,0,0.8);
}

.description {
  align-self: center;
  margin-bottom: 2rem;
  color: white;
}


.input {
  background-color: black;
}

button {
  background-color: red;
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 1);
  align-self: center;
  font-family: inherit;
  font-size: 4rem;
}

button:active {
  transform: scale(0.95);
  box-shadow: none;
}
