
.input-group {
  display: flex;
}

.input {
  width: fit-content;
  max-width: 9rem;
}


.input.month {
  min-width: 22vw;
}

.input.day {
  min-width: 3.5rem;
}

.input.year {
  min-width: 27vw;
}

.input.hours {
  min-width: 15vw;
}

.input.minutes {
  min-width: 15vw;
}

.description {
  font-family: "Digital", sans-serif;
  font-size: 5vw;
  align-self: center;
  margin-bottom: 10vw;
  color: white;
}

.input-group.green .input {
  color: darkgreen;
}

.input-group.red .input {
  color: red;
}

.input-group.yellow .input {
  color: darkgoldenrod;
}

.input__wrap {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
}


.input {
  background-color: black;
}

button {
  background-color: red;
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 50%;
  width: 40vw;
  height: 40vw;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 1);
  align-self: center;
  font-family: inherit;
  font-size: 14vw;
}

button:active {
  transform: scale(0.95);
  box-shadow: none;
}

button.highlight {
  box-shadow: 0px 16px 30px darkred;
  color: darkred;
}

.info {
  font-family: 'blush', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0);
  color: white;
  z-index: 1000;
  text-align: center;
}

.message {
  font-family: 'blush', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0);
  color: white;
  z-index: 1000;
  text-align: center;
}
.input__wrap{
  margin: 0 auto;
}
